body {
  background-color: #0b0b1a;
  background-image: url('spacey.gif');
  background-repeat: repeat;
  color: #ffffff;
  font-family: "Times New Roman", Times, serif;
  margin: 40px auto;
  max-width: 650px;
}

header, nav, main, footer {
  background-color: rgba(0, 0, 0, 0.8);; /* uhhhh i think i know what im doing idk */
  border: 3px outset #8B0000;
  padding: 15px;
  margin-bottom: 15px;
  color: #ffffff; 
}

a {
  color: #66b2ff;
  font-weight: bold;
}

a:visited {
  color: #da70d6;
}
